<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard en Tiempo Real</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Gráfico en Tiempo Real</h1>
    <div id="grafico" style="width:100%;height:600px;"></div>

    <script>
        function actualizarGrafico() {
            $.getJSON('/datos_grafico', function(data) {
                var grafico = document.getElementById('grafico');
                Plotly.react(grafico, JSON.parse(data).data, JSON.parse(data).layout);
            });
        }

        // Actualizar cada 2 segundos
        setInterval(actualizarGrafico, 20);
        actualizarGrafico();
    </script>
</body>
</html>
